# vim: set filetype=sh :

alias c=clear
alias b="buku --np"
alias e="exa --icons --group"
alias f=fd
alias k=kubectl
alias p=gopass
alias pass=gopass
alias rr=ranger
alias s=senpai-irc
alias task=go-task
alias tf=terraform
alias wee=weechat
alias v=nvim
alias cdd='cd $_'
alias cdg='cd $(git rev-parse --show-toplevel)'
alias cg='cd $(git rev-parse --show-toplevel)'

alias sops='SOPS_AGE_KEY=$(gopass sops-age-key) sops'

alias ls=lsd
alias l=lsd

alias pacman="sudo -E pacman"
alias apt-get="sudo -E apt-get"
alias apt="sudo -E apt"

alias curl="noglob curl"
alias wget="noglob wget"

alias ytdl="noglob youtube-dl.sh"
alias ytsp="TS_SOCKET=/tmp/socket-ts.yt tsp"

alias tspw='while ps -fp $(tsp -p 2>/dev/null) >/dev/null 2>&1; do tsp -c; sleep 5;done'
alias ytspw='while ps -fp $(ytsp -p 2>/dev/null) >/dev/null 2>&1; do ytsp -c; sleep 5;done'

alias bat="bat --paging=never"
alias glow="glow -w $(tput cols)"
alias telnet="telnet -e p"
alias watch="watch "

alias cdtmp="cd $(mktemp -d)"
alias ll="ls -l"
alias pbcopy="xsel --clipboard --input"
alias pbpaste="xsel --clipboard --output"

alias gotest="gotest -v ./..."
alias gocover="go test -cover ./..."

alias kn="kubectl neat | bat -l yaml"
alias knp="kubectl neat | bat -l yaml --paging=always"

alias kc="source <(kubectl completion zsh)"
alias kc="source <(helm completion zsh)"

alias kgp="kubectl get po"
alias kvp="kgp -o yaml"
alias kdp="kubectl describe po"
alias kep="kubectl edit po"

alias kgd="kubectl get deploy"
alias kvd="kgd -o yaml"
alias kdd="kubectl describe deploy"
alias ked="kubectl edit deploy"

alias kgs="kubectl get secret"
alias kvs="kgs -o yaml"
alias kds="kubectl describe secret"
alias kes="kubectl edit secret"

alias kgh="kubectl get hr"
alias kvh="kgh -o yaml"
alias kdh="kubectl describe hr"
alias keh="kubectl edit hr"

alias kl="kubectl logs"

alias w="watch "

alias t="todo"
alias tt="todo new -l MzM"
alias ttl="tt --priority low"
alias ttm="tt --priority medium"
alias tth="tt --priority high"

alias skyscraper=Skyscraper

for a in ~/.aliases.d/* ; do
    source "${a}"
done
