g() {
  if [ "$#" -eq 0 ]; then
    git st
  else
    git $*
  fi

}

ali() {
  alias ${1:0:1}=${1}
}

termname() {
  printf '\033]2;%s\033\\' "$*"

}

zgen() {
  source "${HOME}/.zgen/zgen.zsh"
  zgen "$@"

}

y() {
  if [ "$#" -eq 0 ]; then
    yadm st
  else
    yadm $*
  fi

}

wp() {
    [ "${#}" -eq 0 ] && return

    [[ "${1}" =~ '^[0-9]$' ]] || return

    if [[ "${2}" == "" ]]; then
        wp_dir=~/Dropbox/Pictures/lorem
    else
        wp_dir="${2}"
    fi

    [ -d "${wp_dir}" ] || return

    sxiv -f -r -t "${wp_dir}" -o|head -1|xargs -r -I{} ln -sf {} ~/.local/share/background/${1}

    feh --bg-fill ~/.local/share/background/*
}

up() {
    curl -s -F"file=@${1}" https://0x0.st|tee /dev/tty|pbcopy
}

rcp() {
    src="${1}"
    dest="${2}"

    # if [[ "${dest}" == "" ]]; then
        # dest="${src}"
    # fi

    rsync -av --info=progress2 "${src}" "${dest}"
}

rcpn() {
    rcp "${1}" /mnt/nfs/media/tv/
    notify-send "${1} -> ${2} done"
}

tp() {
    tmuxp ls|fzf --layout=reverse-list|xargs -r tmuxp load -y
}

pc() {
    python -c "print(${1})"
}

mountall() {
    tr -s ' ' < /etc/fstab|cut -d ' ' -f 2|grep '^/'|sudo xargs -n 1 mount
}

kwpo() {
    if [[ "${#}" == 1 ]]; then
        watch kubectl get po -l app.kubernetes.io/name="${1}"
    else
        watch kubectl -n "${1}" get po -l app.kubernetes.io/name="${2}"
    fi
}

klo() {
    if [[ "${#}" == 1 ]]; then
        kubectl logs -l app.kubernetes.io/name="${1}" -f
    else
        kubectl -n "${1}" logs -l app.kubernetes.io/name="${2}" -f
    fi
}

fmv() {
    if [[ "${#}" -lt 2 ]]; then
        return
    fi

    if [[ ! -d "${2}" ]]; then
        return
    fi

    mv "${1}" "$(find "${2}" -type d | fzf +m)"
}
