g() {
  if [ "$#" -eq 0 ]; then
    git st
  else
    git $*
  fi

}

ali() {
  alias ${1:0:1}=${1}
}

termname() {
  printf '\033]2;%s\033\\' "$*"

}

zgen() {
  source "${HOME}/.zgen/zgen.zsh"
  zgen "$@"

}

y() {
  if [ "$#" -eq 0 ]; then
    yadm st
  else
    yadm $*
  fi

}
