binds {
    Mod+RETURN { spawn "kitty" "-e" "niri-tmuxstart.sh" ; }
    Mod+Shift+RETURN { spawn "~/.scripts/niri-open-sized.sh" "0.5" "kitty" "-e" "niri-tmuxstart.sh" ; }

    Mod+Q { spawn "tofi-drun" "--drun-launch=true" ; }
    Mod+W { spawn "tofi-menu.sh" ; }

    Mod+O repeat=false { toggle-overview ; }

    Mod+Shift+E { quit ; }

    Mod+1 { focus-workspace "internet" ; }
    Mod+2 { focus-workspace "coding" ; }
    Mod+3 { focus-workspace "chat" ; }
    Mod+4 { focus-workspace "music" ; }
    Mod+5 { focus-workspace "video" ; }
    Mod+6 { focus-workspace "steam" ; }
    Mod+7 { focus-workspace "files" ; }
    Mod+8 { focus-workspace "files2" ; }
    Mod+9 { focus-workspace "files3" ; }
    Mod+0 { focus-workspace "windows" ; }

    Mod+Shift+1 { move-column-to-workspace "internet" ; }
    Mod+Shift+2 { move-column-to-workspace "coding" ; }
    Mod+Shift+3 { move-column-to-workspace "chat" ; }
    Mod+Shift+4 { move-column-to-workspace "music" ; }
    Mod+Shift+5 { move-column-to-workspace "video" ; }
    Mod+Shift+6 { move-column-to-workspace "steam" ; }
    Mod+Shift+7 { move-column-to-workspace "files" ; }
    Mod+Shift+8 { move-column-to-workspace "files2" ; }
    Mod+Shift+9 { move-column-to-workspace "files3" ; }
    Mod+Shift+0 { move-column-to-workspace "windows" ; }

    Mod+H     { focus-column-or-monitor-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-or-monitor-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Slash { move-workspace-to-monitor-right ; }
    Mod+Shift+Slash { move-workspace-to-monitor-left ; }

    Mod+Comma  { focus-monitor-left ; }
    Mod+Period { focus-monitor-right ; }

    Mod+Shift+Comma  { move-column-to-workspace-up ; }
    Mod+Shift+Period { move-column-to-workspace-down ; }

    Mod+BracketLeft  { consume-or-expel-window-left ; }
    Mod+BracketRight { consume-or-expel-window-right ; }
    Mod+Shift+BracketLeft  { consume-window-into-column ; }
    Mod+Shift+BracketRight { expel-window-from-column ; }

    Mod+Z { focus-window-previous ; }
    Mod+SemiColon { focus-window-previous ; }

    Mod+A { focus-workspace-previous ; }

    Mod+Shift+Q { close-window; }

    Mod+R { switch-preset-column-width ; }
    Mod+Shift+R { switch-preset-window-height ; }
    Mod+F { maximize-column ; }
    Mod+Shift+F { fullscreen-window ; }

    Mod+T { toggle-column-tabbed-display; }

    Mod+Space { center-column ; }

    Mod+b         { spawn "tofi-bookmarks.sh" ; }
    Mod+e         { spawn "wlr-which-key" "--initial-keys" "e" ; } // apps
    Mod+s         { spawn "wlr-which-key" "--initial-keys" "s" ; } // menus
    Mod+BackSpace { spawn "wlr-which-key" "--initial-keys" "BackSpace" ; } // menus
    Mod+g         { spawn "wlr-which-key" "--initial-keys" "g" ; } // menus

    Mod+y { spawn-sh "echo \"type $(wl-paste)\" | dotool" ; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    
    XF86MonBrightnessUp         allow-when-locked=true { spawn "brightnessctl" "s" "+5%" ; }
    XF86MonBrightnessDown       allow-when-locked=true { spawn "brightnessctl" "s" "5%-" ; }
    Shift+XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "s" "+1%" ; }
    Shift+XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "s" "1%-" ; }

    XF86AudioPlay        allow-when-locked=true { spawn "player.sh" "play-pause" ; }
    XF86AudioPrev        allow-when-locked=true { spawn "player.sh" "previous" ; }
    XF86AudioNext        allow-when-locked=true { spawn "player.sh" "next" ; }
    Shift+XF86AudioPlay  allow-when-locked=true { spawn "playerctld" "shift" ; }
}
