prefer-no-csd

include "env.kdl"
include "overlay.kdl"
include "input.kdl"
include "cursor.kdl"
include "gestures.kdl"
include "outputs.kdl"
include "workspaces.kdl"
include "layout.kdl"
include "windowrules.kdl"
include "startup.kdl"
include "overview.kdl"
include "recentwindows.kdl"
include "bindings.kdl"
